{% assign post_thumb = 'images/thumbnail.png' |  asset_url %}

<div class="bg-white rounded-lg shadow">
  <a href="{{ page.path }}" class="relative block overflow-hidden rounded-lg group">
    <img src="{{ page.settings.thumb_image_url |  default: post_thumb }}" alt="UIBak" class="object-cover w-full max-h-[250px]">
    <div class="absolute inset-0 flex items-center justify-center transition-all duration-300 bg-gray-700 bg-opacity-0 group-hover:bg-opacity-60">
      <div class="inline-flex px-3 py-2 space-x-2 text-gray-100 duration-500 scale-50 bg-black bg-opacity-50 rounded-md opacity-0 group-hover:opacity-100 group-hover:scale-100">
        <span class="text-sm">阅读全文</span>
      </div>
    </div>
  </a>
  <div class="p-4 space-y-6 md:p-6">
    <div class="flex flex-row items-start justify-start mt-2 space-x-4">
      <span class="flex items-center space-x-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
        </svg>
        <span class="block text-sm text-gray-600">{{ page.published_at | time_ago }}</span>
      </span>
      <span class="flex items-center space-x-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
        </svg>
        <span class="block text-sm text-gray-600">{{ page.visits_count }} 访问量</span>
      </span>
    </div>
    <div>
      <h2 class="text-xl font-semibold text-gray-800 line-clamp-2"><a href="{{ page.path }}" class="text-primary hover:underline">{{ page.settings.title }}</a></h2>
      <p class="mt-2 mb-4 text-gray-500 line-clamp-2">{{ page.settings.description | strip_html | truncate: 60 }}</p>
      <a href="{{ page.path }}" class="inline-block text-sm font-semibold text-blue-600 hover:underline">阅读全文</a>
    </div>
  </div>
</div>
