
<div class=" bg-slate-200">
  <div class=" mx-auto flex flex-col px-2 py-8 md:py-12 max-w-[1320px] gap-[40px] lg:flex-row lg:items-center lg:place-content-between">
    <div>
      <h1 class="font-bold text-2xl leading-[26px] md:text-heading-4 lg:text-4xl mb-[23px]">
        常用的 UIBak Web 代码开发工具库
      </h1>
      <p class="text-gray-400 text-text">
      o Best thing for UIBak, Tailwind CSS, including components, plugins, cases, tutorials, tools.
      </p>
    </div>

  </div>
</div>

<section class="py-12 bg-slate-100">
  <div class="px-4 mx-auto max-w-8xl">
    <div class="space-y-10 ">
      <div>
        <h3 class="text-2xl font-bold" id="b1f0b866ff1e540503531b72d365a681">Development Tools</h3>
        <div class="grid grid-cols-1 gap-6 mt-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://www.baklib.cn/s/developers" target="_blank" title="The Verge">
            <div class="flex items-center gap-2">
              <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
                <img class="w-8 h-8" src="{{ 'images/icon.svg' | asset_url }}" alt="The Verge for UIBak.com" />
              </div>
              <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Baklib</h4>
            </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Baklib Low-code Platform</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://www.ruby-lang.org/en/" target="_blank" title="The Verge">
            <div class="flex items-center gap-2">
              <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
              <img class="w-8 h-8" src="{{ 'images/tools/ruby.png' | asset_url }}" alt="The Verge for UIBak.com" />
              </div>
              <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Ruby</h4>
            </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">The Ruby Language</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://rubyonrails.org/" target="_blank" title="GitHub Next">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/rails.png' | asset_url }}" alt="Rails for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Rails</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Ruby on Rails Web framework</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://shopify.github.io/liquid/" target="_blank" title="Netflix Top 10">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/liquid.png' | asset_url }}" alt="Liquid language for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Liquid</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">The Liquid template language</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://tailwindcss.com/" target="_blank" title="Netflix Top 10">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo01.png' | asset_url }}" alt="TailwindCss for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">TailwindCss</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">The new Css Framework</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://alpinejs.dev/" target="_blank" title="Netflix Top 10">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/alpinejs.png' | asset_url }}" alt="Alpine.js for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Alpine.js</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">New lightweight JavaScript framework</p></a>
        </div>
      </div>
      <div>
        <h3 class="text-2xl font-bold" id="05bbb43b3d923283e0b6ffafd088f41f">TailwindCss Components</h3>
        <div class="grid grid-cols-1 gap-6 mt-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://github.com/sailboatui/best-tailwindcss" target="_blank" title="Tailwind UI">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
                <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
            </svg>
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">[Github] Best Tailwind </h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Best thing for Tailwind CSS, including components, plugins, cases, tutorials, tools.</p></a>

          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://tailwindui.com/" target="_blank" title="Tailwind UI">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo01.png' | asset_url }}" alt="Tailwind UI for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Tailwind UI</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Component library made with Tailwind CSS</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://sailboatui.com/" target="_blank" title="Sailboat UI">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo02.png' | asset_url }}" alt="Sailboat UI for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Sailboat UI</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Modern UI component library for Tailwind CSS</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://tailwind-elements.com/" target="_blank" title="Tailwind Elements">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo03.png' | asset_url }}" alt="Tailwind Elements for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Tailwind Elements</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Bootstrap components recreated with Tailwind CSS</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://daisyui.com/" target="_blank" title="daisyUI">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo04.png' | asset_url }}" alt="daisyUI for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">daisyUI</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Use Tailwind CSS but write fewer class names</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://flowbite.com/" target="_blank" title="Flowbite">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo05.png' | asset_url }}" alt="Flowbite for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Flowbite</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Open-source component library built with Tailwind CSS</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://www.hyperui.dev/" target="_blank" title="HyperUI">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo06.png' | asset_url }}" alt="HyperUI for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">HyperUI</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Free Open Source Tailwind CSS Components</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://mynaui.com/" target="_blank" title="Myna UI">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo07.png' | asset_url }}" alt="Myna UI for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Myna UI</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">UI Components and Elements made with Tailwind CSS</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://merakiui.com/" target="_blank" title="Meraki UI">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo08.png' | asset_url }}" alt="Meraki UI for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Meraki UI</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Meraki UI Free Tailwind CSS Components</p></a>
        </div>
      </div>
      <div>
        <h3 class="text-2xl font-bold" id="8625e1de7be14c39b1d14dc03d822497">TailwindCss Tools</h3>
        <div class="grid grid-cols-1 gap-6 mt-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://play.tailwindcss.com/" target="_blank" title="Tailwind Play">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo01.png' | asset_url }}" alt="Tailwind Play for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Tailwind Play</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">An advanced online playground for Tailwind CSS</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://transform.tools/css-to-tailwind" target="_blank" title="CSS to TailwindCSS">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo09.png' | asset_url }}" alt="CSS to TailwindCSS for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">CSS to TailwindCSS</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Convert your CSS to Tailwind CSS</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://uicolors.app/create" target="_blank" title="Color Shades Generator">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo10.png' | asset_url }}" alt="Color Shades Generator for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Color Shades Generator</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Create Tailwind CSS color families</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://gradient-designer.csspost.com/" target="_blank" title="Gradient Designer">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo11.png' | asset_url }}" alt="Gradient Designer for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Gradient Designer</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Make beautiful gradients for Tailwind CSS</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://usewindy.com/" target="_blank" title="Windy">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo12.png' | asset_url }}" alt="Windy for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Windy</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Copy elements from any website as a Tailwind CSS component</p></a>
        </div>
      </div>
      <div>
        <h3 class="text-2xl font-bold" id="bb38096ab39160dc20d44f3ea6b44507">TailwindCss Plugins</h3>
        <div class="grid grid-cols-1 gap-6 mt-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://github.com/tailwindlabs/tailwindcss-typography" target="_blank" title="@tailwindcss/typography">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo01.png' | asset_url }}" alt="@tailwindcss/typography for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">@tailwindcss/typography</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Beautiful typographic defaults for HTML you don't control</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://github.com/tailwindlabs/tailwindcss-forms" target="_blank" title="@tailwindcss/forms">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo01.png' | asset_url }}" alt="@tailwindcss/forms for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">@tailwindcss/forms</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">A plugin that provides a basic reset for form styles that makes form elements easy to override with utilities</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://github.com/tailwindlabs/tailwindcss-line-clamp" target="_blank" title="@tailwindcss/line-clamp">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo01.png' | asset_url }}" alt="@tailwindcss/line-clamp for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">@tailwindcss/line-clamp</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">A plugin that provides utilities for visually truncating text after a fixed number of lines</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://github.com/jamiebuilds/tailwindcss-animate" target="_blank" title="tailwindcss-animate">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo11.png' | asset_url }}" alt="tailwindcss-animate for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">tailwindcss-animate</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">A Tailwind CSS plugin for creating beautiful animations</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://github.com/tailwindlabs/prettier-plugin-tailwindcss" target="_blank" title="prettier-plugin-tailwindcss">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo11.png' | asset_url }}" alt="prettier-plugin-tailwindcss for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">prettier-plugin-tailwindcss</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">A Prettier plugin for Tailwind CSS that automatically sorts classes based on our recommended class order</p></a>
        </div>
      </div>
      <div>
        <h3 class="text-2xl font-bold" id="5e2f5f3c24ae8c6ab3eca618826b0e23">TailwindCss Extensions</h3>
        <div class="grid grid-cols-1 gap-6 mt-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://marketplace.visualstudio.com/items?itemName=bradlc.vscode-tailwindcss" target="_blank" title="Tailwind CSS IntelliSense">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo01.png' | asset_url }}" alt="Tailwind CSS IntelliSense for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Tailwind CSS IntelliSense</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Intelligent Tailwind CSS tooling for VS Code</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://marketplace.visualstudio.com/items?itemName=voorjaar.windicss-intellisense" target="_blank" title="WindiCSS IntelliSense">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo13.png' | asset_url }}" alt="WindiCSS IntelliSense for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">WindiCSS IntelliSense</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Intelligent WindiCSS tooling for VS Code</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://marketplace.visualstudio.com/items?itemName=bourhaouta.tailwindshades" target="_blank" title="Tailwind Shades">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo14.png' | asset_url }}" alt="Tailwind Shades for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Tailwind Shades</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Tailwind CSS color palette generator</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://marketplace.visualstudio.com/items?itemName=austenc.tailwind-docs" target="_blank" title="Tailwind Docs">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo15.png' | asset_url }}" alt="Tailwind Docs for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Tailwind Docs</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Easily access the Tailwind CSS documentation from within Code</p></a>
        </div>
      </div>
      <div>
        <h3 class="text-2xl font-bold" id="130ddfce9c28453883ccfe2da8b6d5ac">TailwindCss Tutorials</h3>
        <div class="grid grid-cols-1 gap-6 mt-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://www.youtube.com/c/TailwindLabs/videos" target="_blank" title="Tailwind Labs">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo01.png' | asset_url }}" alt="Tailwind Labs for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Tailwind Labs</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Official YouTube channel for Tailwind CSS</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://www.youtube.com/watch?v=bxmDnn7lrnk&amp;list=PL4cUxeGkcC9gpXORlEHjc5bgnIi5HEGhw" target="_blank" title="The Net Ninja">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo16.png' | asset_url }}" alt="The Net Ninja for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">The Net Ninja</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">In this tailwind CSS tutorial we'll take a look at what tailwind CSS is, how to use it &amp; set up a new project.</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://www.youtube.com/playlist?list=PL0Zuz27SZ-6M8znNpim8dRiICRrP5HPft" target="_blank" title="Tailwind CSS for Beginners">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo17.png' | asset_url }}" alt="Tailwind CSS for Beginners for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Tailwind CSS for Beginners</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Learn Tailwind CSS in this tutorial series. From dev environment setup and useful VS Code extensions to building and deploying a complete project with Tailwind!</p></a>
        </div>
      </div>
      <div>
        <h3 class="text-2xl font-bold" id="b1f0b866ff1e540503531b72d365a681">Use Cases</h3>
        <div class="grid grid-cols-1 gap-6 mt-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://www.theverge.com/" target="_blank" title="The Verge">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo18.png' | asset_url }}" alt="The Verge for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">The Verge</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Technology website</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://githubnext.com/" target="_blank" title="GitHub Next">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo19.png' | asset_url }}" alt="GitHub Next for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">GitHub Next</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Developer website</p></a>
          <a class="p-6 overflow-hidden transition-all duration-300 bg-white border group rounded-2xl border-secondary shadow-md hover:-translate-y-1 hover:shadow-sm" href="https://top10.netflix.com/" target="_blank" title="Netflix Top 10">
          <div class="flex items-center gap-2">
            <div class="flex-none overflow-hidden border rounded-lg border-slate-200 bg-slate-100 p-1">
            <img class="w-8 h-8" src="{{ 'images/tools/logo20.png' | asset_url }}" alt="Netflix Top 10 for UIBak.com" />
            </div>
            <h4 class="font-medium line-clamp-2 group-hover:text-primary-500">Netflix Top 10</h4>
          </div><p class="mt-4 text-sm text-slate-400 line-clamp-2">Landing page</p></a>
        </div>
      </div>
    </div>
  </div>
</section>
